<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.5.1" targetFramework="net472" />
  <package id="Common.Logging" version="3.4.1" targetFramework="net472" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net472" />
  <package id="DoddleReport" version="1.4" targetFramework="net472" />
  <package id="itext7" version="7.1.16" targetFramework="net472" />
  <package id="itext7.pdfhtml" version="3.0.5" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13.4" targetFramework="net472" />
  <package id="itextsharp.4.1.6.0" version="4.1.6" targetFramework="net472" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net472" />
  <package id="Pax.DoddleReport.iTextSharp" version="1.4" targetFramework="net472" />
  <package id="Pdf2Text" version="1.0.0" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.8.9" targetFramework="net472" />
  <package id="Portable.itextsharp" version="5.5.13.4" targetFramework="net472" />
  <package id="System.Drawing.Common" version="8.0.13" targetFramework="net472" />
  <package id="System.Security.Cryptography.Xml" version="8.0.2" targetFramework="net472" />
</packages>