USE [master]
GO
/****** Object:  Database [PlacementPortal]    Script Date: 18-03-2025 16:24:45 ******/
CREATE DATABASE [PlacementPortal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PlacementPortal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PlacementPortal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PlacementPortal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PlacementPortal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PlacementPortal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PlacementPortal]
GO
/****** Object:  Table [dbo].[Add_Project]    Script Date: 18-03-2025 16:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Add_Project](
	[p_id] [int] IDENTITY(1,1) NOT NULL,
	[s_id] [nvarchar](max) NULL,
	[pname] [nvarchar](max) NULL,
	[pdiscription] [nvarchar](max) NULL,
 CONSTRAINT [PK_Add_Project] PRIMARY KEY CLUSTERED 
(
	[p_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company_Registration]    Script Date: 18-03-2025 16:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company_Registration](
	[c_id] [int] NOT NULL,
	[cname] [nvarchar](max) NULL,
	[hrname] [nvarchar](max) NULL,
	[hrmobile] [nvarchar](50) NULL,
	[hremail] [nvarchar](max) NULL,
	[hrdesignation] [nvarchar](max) NULL,
	[caddress] [nvarchar](max) NULL,
	[photo] [nvarchar](max) NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[c_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job_Applications]    Script Date: 18-03-2025 16:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job_Applications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[s_id] [nvarchar](max) NULL,
	[jd_id] [nvarchar](max) NULL,
	[applicationdate] [nvarchar](max) NULL,
 CONSTRAINT [PK_Job_Application] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job_Discription]    Script Date: 18-03-2025 16:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job_Discription](
	[jd_id] [int] IDENTITY(1,1) NOT NULL,
	[cname] [nvarchar](max) NULL,
	[year] [nchar](10) NULL,
	[pdf] [nvarchar](max) NULL,
	[campingdate] [nvarchar](max) NULL,
	[time] [nvarchar](max) NULL,
	[venue] [nvarchar](max) NULL,
	[link] [nvarchar](max) NULL,
	[sscper] [nvarchar](max) NULL,
	[hscper] [nvarchar](max) NULL,
	[dipper] [nvarchar](max) NULL,
	[beagg] [nvarchar](max) NULL,
	[designation] [nvarchar](max) NULL,
	[photo] [nvarchar](max) NULL,
 CONSTRAINT [PK_Job_Discription] PRIMARY KEY CLUSTERED 
(
	[jd_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Placement_Status]    Script Date: 18-03-2025 16:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Placement_Status](
	[p_id] [int] IDENTITY(1,1) NOT NULL,
	[studentname] [nvarchar](max) NULL,
	[placementstatus] [nvarchar](max) NULL,
	[photo] [nvarchar](max) NULL,
	[cname] [nvarchar](max) NULL,
	[dateofselection] [nvarchar](max) NULL,
	[offerletterno] [int] NULL,
 CONSTRAINT [PK_Placement_Status] PRIMARY KEY CLUSTERED 
(
	[p_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student_Registration]    Script Date: 18-03-2025 16:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_Registration](
	[s_id] [nvarchar](max) NOT NULL,
	[name] [nvarchar](max) NULL,
	[branch] [nvarchar](max) NULL,
	[year] [nvarchar](max) NULL,
	[password] [nvarchar](max) NULL,
	[becolg] [nvarchar](max) NULL,
	[gender] [nvarchar](max) NULL,
	[dob] [date] NULL,
	[sscper] [nvarchar](max) NULL,
	[sscyop] [nvarchar](max) NULL,
	[sscboard] [nvarchar](max) NULL,
	[sscschool] [nvarchar](max) NULL,
	[hscper] [nvarchar](max) NULL,
	[hscyop] [nvarchar](max) NULL,
	[hsccolg] [nvarchar](max) NULL,
	[hscboard] [nvarchar](max) NULL,
	[dipper] [nvarchar](max) NULL,
	[dipyop] [nvarchar](max) NULL,
	[dipbranch] [nvarchar](max) NULL,
	[dipboard] [nvarchar](max) NULL,
	[dipcolg] [nvarchar](max) NULL,
	[dipuniversity] [nvarchar](max) NULL,
	[beagg] [nvarchar](max) NULL,
	[language] [nvarchar](max) NULL,
	[mobile] [nvarchar](max) NULL,
	[email] [nvarchar](max) NULL,
	[localadd] [nvarchar](max) NULL,
	[objectivecarrier] [nvarchar](max) NULL,
	[projectdiscription] [nvarchar](max) NULL,
	[beuniversityname] [nvarchar](max) NULL,
	[skill] [nvarchar](max) NULL,
	[comapnyname] [nvarchar](max) NULL,
	[jobtitle] [nvarchar](max) NULL,
	[startdate] [nvarchar](max) NULL,
	[enddate] [nvarchar](max) NULL,
	[jobdiscription] [nvarchar](max) NULL,
	[projectname] [nvarchar](max) NULL,
	[descriptionprofessional] [nvarchar](max) NULL,
	[photo] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student_WorkExperience]    Script Date: 18-03-2025 16:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_WorkExperience](
	[w_id] [int] IDENTITY(1,1) NOT NULL,
	[s_id] [nvarchar](max) NULL,
	[companyname] [nvarchar](max) NULL,
	[jobtitle] [nvarchar](max) NULL,
	[startdate] [nvarchar](max) NULL,
	[enddate] [nvarchar](max) NULL,
	[jobdescription] [nvarchar](max) NULL,
	[skills] [nvarchar](max) NULL,
 CONSTRAINT [PK_Workexperience] PRIMARY KEY CLUSTERED 
(
	[w_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Add_Project] ON 

INSERT [dbo].[Add_Project] ([p_id], [s_id], [pname], [pdiscription]) VALUES (1, N'5', N'Placement Portal', N'rhurhegiurhgiuh')
SET IDENTITY_INSERT [dbo].[Add_Project] OFF
GO
INSERT [dbo].[Company_Registration] ([c_id], [cname], [hrname], [hrmobile], [hremail], [hrdesignation], [caddress], [photo]) VALUES (1, N'Mitra Hub', N'Vedant Deshpande', N'8208642915', N'ayushi@gmail.com', N'Software Engineer', N'Pune', NULL)
INSERT [dbo].[Company_Registration] ([c_id], [cname], [hrname], [hrmobile], [hremail], [hrdesignation], [caddress], [photo]) VALUES (2, N'HP', N'Gaurav Gwande', N'8208642915', N'i@gmail.com', N'Web Developer', N'Nashik', NULL)
INSERT [dbo].[Company_Registration] ([c_id], [cname], [hrname], [hrmobile], [hremail], [hrdesignation], [caddress], [photo]) VALUES (3, N'ASUS Vivobook', N'DEV Deshmukh', N'8208642915', N'i@gmail.com', N'Web Developer', N'Nashik', N'laptop.jpg')
GO
SET IDENTITY_INSERT [dbo].[Job_Applications] ON 

INSERT [dbo].[Job_Applications] ([id], [s_id], [jd_id], [applicationdate]) VALUES (1, N'5', N'11', N'Mar 17 2025  5:10PM')
SET IDENTITY_INSERT [dbo].[Job_Applications] OFF
GO
SET IDENTITY_INSERT [dbo].[Job_Discription] ON 

INSERT [dbo].[Job_Discription] ([jd_id], [cname], [year], [pdf], [campingdate], [time], [venue], [link], [sscper], [hscper], [dipper], [beagg], [designation], [photo]) VALUES (10, N'HP', N'2025      ', N'House Price Prediction using Machine Learning (1).docx', N'2025-02-27', N'10AM to 6 PM', N'Pune', N'https://www.drupal.org/project/registration_link', N'No Criteria', N'No Criteria', N'Pass', N'755', NULL, N'bankloan.jpeg')
INSERT [dbo].[Job_Discription] ([jd_id], [cname], [year], [pdf], [campingdate], [time], [venue], [link], [sscper], [hscper], [dipper], [beagg], [designation], [photo]) VALUES (11, N'ASUS Vivobook', N'2026      ', N'House Price Prediction using Machine Learning (1).docx', N'2025-03-18', N'10AM to 6 PM', N'Pune', N'https://www.drupal.org/project/registration_link', N'60%', N'75%', N'60%', N'60%', NULL, N'backimage.png')
INSERT [dbo].[Job_Discription] ([jd_id], [cname], [year], [pdf], [campingdate], [time], [venue], [link], [sscper], [hscper], [dipper], [beagg], [designation], [photo]) VALUES (12, N'Mitra Hub', N'2026      ', N'Deepfake Face Detection using Machine Learning.docx', N'2025-03-12', N'10AM to 6 PM', N'Pune', N'https://www.drupal.org/project/registration_link', N'75%', N'Pass%', N'75%', N'Pass', NULL, N'banklogo.jpg')
SET IDENTITY_INSERT [dbo].[Job_Discription] OFF
GO
SET IDENTITY_INSERT [dbo].[Placement_Status] ON 

INSERT [dbo].[Placement_Status] ([p_id], [studentname], [placementstatus], [photo], [cname], [dateofselection], [offerletterno]) VALUES (1, N'Sahil Deshmukh', N'Placed', N'10.jpg', N'Mitra Hub', N'2025-03-29', 1001)
SET IDENTITY_INSERT [dbo].[Placement_Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Student_WorkExperience] ON 

INSERT [dbo].[Student_WorkExperience] ([w_id], [s_id], [companyname], [jobtitle], [startdate], [enddate], [jobdescription], [skills]) VALUES (1, N'5', N'LITS.BROS.PVT.LTD', N'Web Designer', N'2025-03-03', N'2025-03-16', N'GFYGFIHGIUEH', N'HTML, CSS, BOOTSTRAP')
INSERT [dbo].[Student_WorkExperience] ([w_id], [s_id], [companyname], [jobtitle], [startdate], [enddate], [jobdescription], [skills]) VALUES (4, N'5', N'TCS', N'Software Developer', N'2025-03-13', N'2025-03-19', N'rtftg', N'python')
SET IDENTITY_INSERT [dbo].[Student_WorkExperience] OFF
GO
USE [master]
GO
